In [1]:
# Load library
import pandas as pd

In [2]:
# Create a dictionary
dictionary = {
"Name": ['Jacky Jackson', 'Steven Stevenson'],
"Age": [38, 25],
"Driver": [True, False]
}

In [3]:
# Create DataFrame
dataframe = pd.DataFrame(dictionary)

In [4]:
# Show DataFrame
dataframe

               Name  Age  Driver
0     Jacky Jackson   38    True
1  Steven Stevenson   25   False

In [5]:
# Add a column for eye color
dataframe["Eyes"] = ["Brown", "Blue"]

In [6]:
# Show DataFrame
dataframe

               Name  Age  Driver   Eyes
0     Jacky Jackson   38    True  Brown
1  Steven Stevenson   25   False   Blue